# -*- coding: utf-8 -*-
# vim: ft=yaml
---
victoriametrics:
  lookup:
    master: template-master

  # the version is used for the archive installation method.
  # It refers to the github version.
  version: v1.79.0

  # type: single|culster
  #   single: the victoria-metrics service is installed
  #   cluster: the cluster version is installed (vminsert, vmselect, vmstorage,
  #          vmauth (if enabled)
  type: single

  # install: archive|package
  #   archive: download the packages from github
  #   package: install the os package
  install: archive

  # configuration for the archive installation
  archive:
    # type: oss|enterprise
    #   oss: install the free version
    #   enterprise: install the enterprise version
    type: oss

    # extract_directory: /path/to/a/directory
    #   extract the archives in the specified directory
    extract_directory: /var/cache/victoriametrics

  # bindir: /path/to/bin/dir
  #   Directory to store all binaries.
  #   The directory should be in your $PATH
  bindir: /usr/local/bin

  # some information about the storage servers
  # Common to both single and cluster
  storages:
    # nodes: [list of storage servers]
    #   A list of storage servers, ip:port format
    nodes: ['127.0.0.1:8424']
    # nodes:
    #   - 192.2.0.1:8424
    #   - 192.2.0.2:8424
    #   - 192.2.0.3:8424


  # Configuration for the "single" version
  victoriametrics:
    # a dict passed to the command line
    # Each entry is converted to an option
    # Use the value ~ for key-only options
    # ex:
    #   foo: bar
    #   baz: baz
    #   noValue: ~
    # is converted to:
    #   /path/to/victoria-metrics -foo=bar -baz=baz -noValue
    # See victoria-metrics -h for all available options
    args:
      storageDataPath: /var/lib/victoria-metrics/storage


  ## Configurations for the "cluster" version:
  ## * vmagent
  ## * vmauth
  ## * vminsert
  ## * vmselect
  ## * vmstorage

  vmagent:
    # a dict passed to the command line
    # Each entry is converted to an option
    # Use the value ~ for key-only options
    # ex:
    #   foo: bar
    #   baz: baz
    #   noValue: ~
    # is converted to:
    #   /path/to/vmagent -foo=bar -baz=baz -noValue
    # See vmagent -h for all available options
    args: {}

  vmauth:
    # a dict passed to the command line
    # Each entry is converted to an option
    # Use the value ~ for key-only options
    # ex:
    #   foo: bar
    #   baz: baz
    #   noValue: ~
    # is converted to:
    #   /path/to/vmauth -foo=bar -baz=baz -noValue
    # See vmauth -h for all available options
    args:
      auth.config: /etc/victoriametrics/auth-config.yml

    # Configuration for auth-config.yml
    # See https://docs.victoriametrics.com/vmauth.html#auth-config
    config:
      users:
        # Requests with the 'Authorization: Bearer XXXX' and 'Authorization: Token XXXX'
        # header are proxied to http://localhost:8428 .
        # For example, http://vmauth:8427/api/v1/query is proxied to http://localhost:8428/api/v1/query
        # Requests with the Basic Auth username=XXXX are proxied to http://localhost:8428 as well.
        - bearer_token: "XXXX"
          url_prefix: "http://localhost:8428"

        # Requests with the 'Authorization: Bearer YYY' header are proxied to http://localhost:8428 ,
        # The `X-Scope-OrgID: foobar` http header is added to every proxied request.
        # For example, http://vmauth:8427/api/v1/query is proxied to http://localhost:8428/api/v1/query
        - bearer_token: "YYY"
          url_prefix: "http://localhost:8428"
          headers:
          - "X-Scope-OrgID: foobar"

  vminsert:
    # a dict passed to the command line
    # Each entry is converted to an option
    # Use the value ~ for key-only options
    # ex:
    #   foo: bar
    #   baz: baz
    #   noValue: ~
    # is converted to:
    #   /path/to/vminsert -foo=bar -baz=baz -noValue
    # See vminsert -h for all available options
    args: {}

  vmselect:
    # a dict passed to the command line
    # Each entry is converted to an option
    # Use the value ~ for key-only options
    # ex:
    #   foo: bar
    #   baz: baz
    #   noValue: ~
    # is converted to:
    #   /path/to/vmselect -foo=bar -baz=baz -noValue
    # See vmselect -h for all available options
    args: {}

  vmstorage:
    # a dict passed to the command line
    # Each entry is converted to an option
    # Use the value ~ for key-only options
    # ex:
    #   foo: bar
    #   baz: baz
    #   noValue: ~
    # is converted to:
    #   /path/to/vmstorage -foo=bar -baz=baz -noValue
    # See vmstorage -h for all available options
    args: {}

  # Using bash package and udev service as an example. This allows us to
  # test the template formula itself. You should set these parameters to
  # examples that make sense in the contexto of the formula you're writing.
  pkg:
    name: bash
  service:
    name: systemd-journald
  config: /etc/template-formula.conf

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    # I.e.: salt://victoriametrics/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    source_files:
      victoriametrics-config-file-file-managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
